/* =========== Fonts ============ */
@import url('https://fonts.googleapis.com/css?family=Rancho&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
/* =========== Browser Reset ============ */
:root {
  /* Color Variables */
  --primary: #ffee00;
  --text-1: #128bc4;
  --text-2: #42cf00;
  --white: #fff;
  --shadow-300: 0 5px 5px rgba(0, 0, 0, 0.3);
  --shadow-500: 0 5px 5px rgba(0, 0, 0, 0.5);
  --transition-300: all 300ms ease-in-out;
  --transition-500: all 500ms ease-in-out;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--white);
  color: var(--text-1);
}





/*========test==========*/


.a1{
    text-decoration: none;
    color: #fff;
    padding-right: 10px;
}
.logo1 {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    
}


.nav1{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links .ul .li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links .ul .li .a1{
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}

.active {
    text-decoration: red !important ;
    font-size: 15px !important;
    color: #f44336 !important;
    font-weight: bold !important;
}

.nav-links .ul .li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
}

.nav-links .ul .li:hover::after{
    width: 85%;
}

/*========test==========*/
a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: var(--text-1);
}

p {
  color: var(--text-2);
  line-height: 1.5;
}

img,
.video {
  width: 100%;
  height: 100%;
}

/* =========== Custom Classes ============ */
.d-flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.section {
  margin: 5rem 0;
  padding: 10rem 0 5rem;
  overflow: hidden;
}

.title {
  margin-bottom: 2rem;
}

.title h1 {
  font-size: 4rem;
}



/* =========== Navigation ============ */

.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 0;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999999;
  padding: 1rem 0;
}

.nav {
  margin: 0 auto;
  padding: 0 2rem;
  justify-content: space-between;
}

.logo img {
  width: 7rem;
  height: 7rem;
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link {
  display: inline-block;
  padding: 1rem;
  color: var(--white);
}

.btn {
  display: inline-block;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--primary);
  padding: 1.5rem 2.5rem;
  transition: var(--transition-300);
}

.btn:hover {
  border-color: var(--primary);
  box-shadow: var(--shadow-500);
  transform: translateY(-3px);
}

.btn:active {
  transform: translateY(0);
}

.btn.sign-up {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid #fff;
  transition: var(--transition-300);
}

.btn.sign-up:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

.hamburger {
  display: none;
  font-size: 3rem;
  color: var(--white);
  cursor: pointer;
}

.navigation.fix {
  position: fixed;
  background-color: var(--text-1);
}




/* =========== Home ============ */

.swiper-container {
  width: 100%;
  height: 100%;
}

.header .swiper-slide img,
.header .swiper-slide .video {
  height: 100vh;
  object-fit: cover;
}

.header .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 70%;
  text-align: center;
}

.header .content h1 {
  font-size: 7rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 2rem;
}

.header .arrows {
  position: absolute;
  bottom: 0.5%;
  right: 0;
  z-index: 100;
  background-color: var(--white);
  width: 30rem;
  padding: 2rem;
  justify-content: center;
}

.header .swiper-icon {
  font-size: 4rem;
}

.header .swiper-next,
.header .swiper-prev {
  justify-content: center;
  background-color: var(--primary);
  color: var(--white);
  width: 10rem;
  height: 5rem;
  cursor: pointer;
}

.header .swiper-next.swiper-button-disabled,
.header .swiper-next.swiper-button-disabled {
  opacity: 0.7;
  cursor: default;
}

.header .swiper-prev {
  margin-right: 2rem;
}



/* =========== About ============ */
.about .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  align-items: center;
}

.about .swiper-container {
  height: 50rem;
  width: 50rem;
}

.about .swiper-wrapper {
  height: 100% !important;
}

.about .swiper-slide {
  height: 100% !important;
}

.about .col p {
  margin-bottom: 3rem;
}

.about .col img,
.about .col .video {
  object-fit: cover;
  height: 100%;
}

.center{
  align-items: center;
  text-align: center;
}



.about .swiper-button-next::after,
.about .swiper-button-prev::after {
  content: "";
}

.about .swiper-button-next,
.about .swiper-button-prev {
  top: auto;
  bottom: 0.1%;
  background-color: var(--white);
  width: 5rem;
}

.about .swiper-button-next {
  right: 20px;
}

.about .swiper-button-prev {
  left: auto;
  right: 70px;
}

.about .swiper-icon {
  font-size: 3rem;
}




/* =========== Service ============ */
.service .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.service .col p {
  margin-bottom: 3rem;
}

.service .d-flex {
  justify-content: space-between;
  margin-bottom: 3rem;
}

.section .col .rating span {
  color: var(--primary);
}


/* =========== Discount ============ */
.discount {
  position: relative;
  height: 60rem;
  
}

.discount .overlay {
  position: relative;
  height: 100%;
}

.discount .overlay::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--text-1);
  opacity: 0.5;
}

.discount .video {
  object-fit: cover;
}

.discount .content {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

.discount .content h1 {
  font-size: 5rem;
  color: var(--white);
  margin-bottom: 3rem;
}

.discount .content span {
  justify-content: center;
  border: 2px solid var(--white);
  border-radius: 50%;
  color: var(--white);
  font-size: 4rem;
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  margin: 0 auto;
}


/* =========== Trip ============ */
.trip {
  overflow: hidden;
}

.trip .title {
  text-align: center;
  margin-bottom: 7rem;
}

.trip .title h1 {
  font-size: 5rem;
  margin: 2rem;
}

.trip .title p {
  width: 50%;
  margin: 0 auto;
}

.trip .row {
  width: 95vw;
  position: relative;
}

.trip .swiper-container {
  width: 100%;
  height: 100%;
}

.trip .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
}

.trip .swiper-slide img {
  display: block;
  width: 100%;
}

.custom-next,
.custom-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary);
  color: var(--white);
  font-size: 2.5rem;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  justify-content: center;
  cursor: pointer;
}

.custom-next {
  right: -60px;
}
.custom-prev {
  left: -60px;
}

.custom-pagination {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  width: 30px;
  height: 7px;
  border-radius: 5px;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary);
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 10px;
}

.trip .explore {
  text-align: center;
  margin-top: 8rem;
}



    discount




/* =========== More ============ */
.more .title {
  margin-bottom: 5rem;
}

.more .title p {
  margin-top: 2rem;
}

.more .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.more .row .tours {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 9rem;
}

.more .col .btn {
  display: block;
  text-align: center;
}

.more .tours h3 {
  margin: 1rem 0;
}

.more img {
  object-fit: cover;
}



/* =========== Contact ============ */

/* =========== Contact Us ============ */
.contact .title {
  text-align: center;
  margin-bottom: 5rem;
}

.contact .title p {
  width: 60%;
  margin: 2rem auto 0;
}

.location {
  height: 500px;
}
.location iframe {
  width: 100%;
  height: 100%;
}




.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  background-color: var(--white);
}

.loader img {
  width: 20rem;
  height: 20rem;
}