@import url('https://fonts.googleapis.com/css?family=Poppins:0,400,500,600,700,800,988&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rancho&display=swap');
:root {
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}

.logo {
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-right: 10px;
}

.ads {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    Left: e;
    width: 100%;
    z-index: 10000;
}

.adst {
    flex: 1;
    text-align: right;
}

.adst ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.adst ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 13px;
}

.active {
    text-decoration: red !important;
    font-size: 15px !important;
    color: #f44336 !important;
    font-weight: bold !important;
}

.adst ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.adst ul li:hover::after {
    width: 100%;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    Left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #094b65, transparent);
    z-index: 10;
}

section img {
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section #text {
    position: absolute;
    color: #094b65;
    font-size: 5vw;
    text-align: center;
    Line-height: 0.40em;
    transform: translatey(-50%);
}

section #text span {
    font-size: 0.5rem;
    Letter-spacing: 1.5px;
    font-weight: 100;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #ff0;
    color: #094b65;
    font-size: 1.2em;
    font-weight: 500;
    Letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px)
}

.sec {
    color: #fff;
    display: block;
    position: relative;
    padding: 30px;
    background: #094b65;
    height: 100%;
}

.stat-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    position: relative;
}

.stat-title::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    transform: translateX(-50%);
}

.timeline {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding-bottom: 1rem;
}

.timeline .timeline-item {
    position: relative;
    padding-left: 2.5rem;
    border-left: 3px solid var(--color-grey-5);
}

.timeline .timeline-item .tl-icon {
    position: absolute;
    left: -21.5px;
    top: 0;
    background-color: var(--color-secondary);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline .timeline-item .tl-icon i {
    font-size: 1.2rem;
}

.timeline .timeline-item .tl-duration {
    padding: 0.2rem 0.4rem;
    background-color: var(--color-grey-5);
    border-radius: 15px;
    display: inline-block;
    font-size: 0.5rem;
    text-transform: uppercase;
    font-weight: 500;
}

.timeline .timeline-item h5 {
    padding: 0.6rem 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 450;
}

.timeline .timeline-item h5 span {
    color: var(--color-grey-2);
    font-weight: 450;
    font-size: 0.6rem;
}

.timeline .timeline-item p {
    color: var(--color-grey-2);
}

@media screen and (max-width: 700px) {
    .container {
        padding: 7rem 3rem;
    }
    .about-stats .progress-bars {
        grid-template-columns: repeat(1, 1fr);
    }
    .about-container .right-about {
        grid-template-columns: repeat(1, 1fr);
    }
    .timeline {
        grid-template-columns: repeat(1, 1fr);
    }
    .main-title h2 {
        font-size: 3rem;
    }
    .main-title h2 span {
        font-size: 3rem;
    }
    .main-title h2 .bg-text {
        font-size: 4rem;
    }
}